# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment variables
.env

# MacOS
.DS_Store

# Logs
*.log

# VS Code
.vscode/

# Output files (optional)
outputs/
*.png

# Data files (optional)
data/

# Temporary files
*.tmp